<?xml version='1.0' encoding='utf-8'?>
<widget id="pk.com.fyp.watermonitoring" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Water Monitoring</name>
    <description>Water Monitoring System</description>
    <content src="index.html" />
    <access origin="*"></access>
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
        <icon src="/res/app-icon.png" density="xxhdpi" />
    </platform>
    <preference name="StatusBarBackgroundColor" value="#3880ff" />
    <splash src="/res/splash-screen.png" density="port-xxhdpi" />
    <preference name="SplashScreenSpinnerColor" value="white" />
</widget>
