:root {
    --ion-safe-area-top: 22px;
}

.content-container {
    margin-top: 50%;
}

#fluid-meter > ion-spinner {
    margin-top: 30%;
}

ion-spinner {
    transform: scale(3);
}

ion-chip {
    width: 172px;
    height: 50px;
}

ion-chip ion-label {
    font-size: 2em;
    flex-grow: 1;
}

.server-unavailable {
    margin-top: 50%;
}
