:root {
    --ion-safe-area-top: 22px;
}

#tank-content-container {
    margin-top: 50%;
}

#fluid-meter > ion-spinner {
    margin-top: 30%;
}

ion-spinner {
    transform: scale(3);
}

ion-tab[tab='tank'] ion-content ion-chip {
    width: 172px;
    height: 50px;
}

ion-tab[tab='tank'] ion-content ion-chip ion-label {
    font-size: 2em;
    flex-grow: 1;
}
